@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

body {
  font-family: 'Roboto', sans-serif;
  background-color: #ffffff;
  color: #000000;
  margin: 0;
  padding: 0;
}

main {
  max-width: 800px;
  margin: 60px auto;
  padding: 0 20px;
}

.project-title {
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 40px;
  margin-bottom: 12px;
  font-size: 40px;
  text-align: center;
}

.project-author {
  font-weight: 300;
  text-transform: uppercase;
  margin-top: 12px;
  margin-bottom: 40px;
  font-size: 30px;
  font-style: italic;
  text-align: center;
}

.project-heading {
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 26px;
  margin-bottom: 14px;
  font-size: 20px;
  text-align: left;
}

.project-subheading,
.project-paragraph {
  font-weight: 400;
  margin-top: 14px;
  margin-bottom: 22px;
  font-size: 20px;
  line-height: 1.35;
  text-align: left;
}

.project-paragraph strong {
  font-weight: 900;
}

.project-image {
  display: block;
  max-width: 100%;
  height: auto;
  margin: 14px 0 28px 0;
}

.diagram-image {
  width: 430px;
}

.visual-image {
  width: 560px;
}

.project-link {
  display: block;
  font-weight: 500;
  margin-top: 18px;
  margin-bottom: 18px;
  font-size: 20px;
  line-height: 1.35;
  text-align: left;
  font-style: italic;
  color: #000000;
  text-decoration: none;
}

.project-link:hover {
  text-decoration: underline;
  color: #555;
}

button {
  background-color: #111;
  color: white;
  border: none;
  padding: 12px 24px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #333;
}

#messageDisplay {
  margin-top: 20px;
  padding: 16px;
  border: 1px solid #ccc;
  background-color: #045825;
  min-height: 20px;
}
